.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;

    &-logo {
        width: 10em;
    }

    &-nav {
        & ul {
            display: flex;
        }

        &-link {
            margin-left: 5em;
            font-size: 22px;
            letter-spacing: 0.3px;

            &-active {
                text-decoration: underline;
            }

            &-inactive {
                transition: all 350ms ease-in-out;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}