.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;

    &-logo {
        width: 10em;
    }

    &-nav {
        & ul {
            display: flex;
        }

        &-link {
            margin-left: 5em;
            font-size: 22px;
            letter-spacing: 0.3px;

            &-active {
                text-decoration: underline;
            }

            &-inactive {
                transition: all 350ms ease-in-out;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media(max-width: 768px) {
    .header {
        width: 98;
        &_logo {
            &_img {
                width: 7rem;
            }
        }
        &_nav {
            & ul {
                padding-left: 0;
            }
            &_link {
                &_navlink {
                    padding: 0.2rem 0.3rem;
                }
            }
        }
    }
}