@import "./variables";
@import "../../components/Layouts/Header/_Header";

body {
    font-family: 'Montserrat', sans-serif;
}

ul, li {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: $primary-color;
}